.main-content {
  min-height: calc(100vh - 124px);
  padding-top: 124px;
}
.mainpage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: relative;
  width: 100%;
  height: 100%;
  background: #EBF8F6;
}

.standartpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
  gap: 20px;
  width: 100%;
  height: 100%;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  padding-top: 124px; 
}

.App {
  min-height: 100vh;
  background: #EBF8F6;
}

.mainpage {
  padding-top: 80px; 
}

.standartpage {
  padding-top: 20px;
}

@media (max-width: 768px) {
  .mainpage {
    padding-top: 70px;
  }
}

@media (max-width: 480px) {
  .mainpage {
    padding-top: 65px;
  }
}