.steppage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--background-color);
}

.step-details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  padding: 10px;
  gap: 20px;
  width: 1160px;
  max-width: 1240px;
  height: 517.44px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame-step {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 22px 12px;
  gap: 20px;
  width: 1140px;
  height: 497.44px;
  background: white;
  border-radius: 12px;
  box-shadow: var(--shadow);
  flex: none;
  order: 0;
  flex-grow: 0;
}

.text-step-title {
  width: 1116px;
  height: 48px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #000000;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.frame-666 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  width: 1116px;
  height: 385.44px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.frame-png {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 226px;
  height: auto;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.frame-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 9px 0px;
  gap: 20px;
  width: 880px;
  height: 385.44px;
  flex: none;
  order: 1;
  flex-grow: 1;
}

.frame-text-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 880px;
  height: 156px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.text-step-details {
  width: 880px;
  height: 156px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  text-align: justify;
  color: #000000;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.formula {
  width: 880px;
  height: 191.44px;
  object-fit: contain;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.reaction-detail-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.reaction-detail-error {
  text-align: center;
  color: #dc3545;
  padding: 2rem;
}


.image{
    width: 226px;
    height: 226px;
    flex: none;
    order: 0;
    flex-grow: 0;
}